.container-quiz {
  font-size: 0.7em;
}

.container-quiz button {
  margin: 10px 0;
}

.container-quiz .container-options button {
  background: rgba(255, 255, 255, 0);
  border-radius: 10px;
  margin: 0 5px;
  color: white;
  transition: background 1s;
}

.container-quiz .container-options button:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.267);
}

.container-quiz .right {
  border: 3px solid rgb(6, 240, 15);
}

.container-quiz .wrong {
  border: 3px solid rgb(255, 0, 0);
}